
:root{
  --primary:#EC1319 ;
  --secondary: #EC7913;
  --tertiary: #134c7d;
}

body{
  font-family: 'Fira Sans Condensed', sans-serif;
}


main {
  margin: 0 auto;
	flex: 1 0 auto;
}


#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}